<!-- mensaje push de error o confirmacion -->
<p-toast></p-toast>
<div class="admin-page">
    <p-card header="Users" subheader="List of all users">

        <div class="p-grid">
            <div class="p-col-12">
                <div class="p-toolbar">
                    <div class="p-toolbar-group-left">
                        <!-- boton de agregar nueva categoria categoria -->
                        <p-button label="New" icon="pi pi-plus" styleClass="p-button-success" routerLink="form"></p-button>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-grid">
            <div class="p-col-12">
                <p-table [value]="users" responsiveLayout="scroll" styleClass="p-datatable-gridlines" [paginator]="true" [rows]="10">
                    <ng-template pTemplate="header">
                        <tr>
                            <!-- <th>ID</th> -->
                            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon> </th>
                            <th>Email</th>
                            <th>Is Admin</th>
                            <th>Country</th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-user>
                        <tr> 
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td>
                                <p-tag 
                                *ngIf="user.isAdmin" 
                                icon="pi pi-check" 
                                severity="success" 
                                [rounded]="true">
                                </p-tag>
                                <p-tag 
                                *ngIf="!user.isAdmin" 
                                icon="pi pi-check" 
                                severity="danger" 
                                [rounded]="true">
                                </p-tag>
                            </td>
                            <td>{{ getCountryName(user.country) }}</td>
                            <td>
                                <!-- boton de borrar usuario -->
                                <p-button (click)="deleteUser(user.id)" icon="pi pi-trash" styleClass="p-button-danger mr-2"></p-button> 
                                <!-- boton de editar usuario -->
                                <p-button (click)="updateUser(user.id)" icon="pi pi-pencil" styleClass="p-button-error"></p-button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </p-card>
</div>
<!-- ventana de confirmacion para elimiar categoria -->
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
