<!-- mensaje push de error o confirmacion -->
<p-toast></p-toast>
<div class="admin-page">
    <p-card header="Products" subheader="List of all products">

        <div class="p-grid">
            <div class="p-col-12">
                <div class="p-toolbar">
                    <div class="p-toolbar-group-left">
                        <!-- boton de agregar nueva categoria categoria -->
                        <p-button label="New" icon="pi pi-plus" styleClass="p-button-success" routerLink="form"></p-button>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-grid">
            <div class="p-col-12">
                <p-table [value]="products" responsiveLayout="scroll" styleClass="p-datatable-gridlines" [paginator]="true" [rows]="10">
                    <ng-template pTemplate="header">
                        <tr>
                            <!-- <th>ID</th> -->
                            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon> </th>
                            <th>Image</th>
                            <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                            <th pSortableColumn="countInStock">Stock <p-sortIcon field="countInStock"></p-sortIcon></th>
                            <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon></th>
                            <th pSortableColumn="dateCreated">Created at <p-sortIcon field="dateCreated"></p-sortIcon></th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr> 
                            <!-- <td>{{product.id}}</td> -->
                            <td style="font-size: 15px;">{{product.name}}</td>
                            <td><img [src]="product.image" style="width:110px; height: 110px" alt=""></td>
                            <td>{{product.price}}</td>
                            <td>{{product.countInStock}}</td>
                            <td>{{product.category.name}}</td>
                            <td style="font-size: 14px;">{{product.dateCreated | date:"short"}}</td>
                            <td>
                                <!-- boton de borrar categoria -->
                                <p-button (click)="deleteProduct(product.id)" icon="pi pi-trash" styleClass="p-button-danger mr-2"></p-button> 
                                <!-- boton de editar categoria -->
                                <p-button (click)="updateProduct(product.id)" icon="pi pi-pencil" styleClass="p-button-error"></p-button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </p-card>
</div>
<!-- ventana de confirmacion para elimiar categoria -->
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>

