<!-- mensaje push de que la categoria se creo -->
<p-toast></p-toast> 
<div class="admin-page">
    <!-- aca usamos una union en dos direcciones con operadores ternarios para decir: si estas en modo -->
    <!-- agregar categoria mostra este titulo, si estas en editar mostra este otro titulo -->
    <!-- aca dice si tengo el editmode=true mostrame este titulo, si no mostra el add category -->
    <p-card 
        [header]="editmode ? 'Edit User' : 'Add User' " 
        [subheader]="editmode ? 'You can edit a users here' : 'You can add users here' ">

        <div class="p-grid mb-5">
            <div class="p-col-12">
                <p-toolbar>
                    <div class="p-toolbar-group-left"></div>
                    <div class="p-toolbar-group-right">
                        <!-- boton de crear o actualizar una categoria -->
                        <p-button 
                        [label]="editmode ? 'Update' : 'Create' " 
                        icon="pi pi-plus" 
                        styleClass="p-button-primary mr-2" 
                        (click)="onSubmit()">
                        </p-button>

                        <p-button 
                        label="Cancel" 
                        icon="pi pi-arrow-circle-left" 
                        styleClass="p-button-secondary"
                        (click)="onCancel()"
                        ></p-button>
                    </div> 
                </p-toolbar>
            </div>
        </div>

        <div class="p-grid">
            <div class="p-col-12">
                <form [formGroup]="form">  <!-- aca usamos reactive forms -->
                    <div class="card">
                        <div class="formgrid grid">
                            <div class="field col-4">
                                <label for="name">Name</label> <!-- el formControlName tiene que llevar el mismo nombre que definimos en el archivo ts,esto los une -->
                                <input formControlName="name" id="name" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                <small *ngIf="userForm.name.invalid && isSubmitted" class="p-error">Name is required</small>
                            </div> 
                            <div class="field col-4">
                                <label for="email">Email</label>
                                <input formControlName="email" id="email" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                <small *ngIf="userForm.email.invalid && isSubmitted" class="p-error">
                                    <span *ngIf="userForm.email.errors.required">Email is required</span> 
                                    <span *ngIf="userForm.email.errors.email">Email is invalid</span>
                                </small> <!-- el *ngIf hace q cuando el formulario es invalido que salga el mensaje de requerido -->
                            </div>
                            <div class="field col-4">
                                <label for="password">Password</label><br>
                                <input formControlName="password" id="password" type="password" pInputText>
                                <small *ngIf="userForm.password.invalid && isSubmitted" class="p-error">Password is required</small>
                            </div>
                            <div class="field col-4">
                                <label for="phone">Phone</label><br>
                                <p-inputMask mask="(999) 999-9999" formControlName="phone" placholder="(999) 999-9999"></p-inputMask>
                                <small *ngIf="userForm.phone.invalid && isSubmitted" class="p-error">Phone is required</small>
                            </div>
                            <div class="field col-4">
                                <label for="isAdmin">Is Admin</label><br/>
                                <p-inputSwitch formControlName="isAdmin"></p-inputSwitch>
                            </div>
                            <div class="field col-4">
                                <label for="street">Street</label><br>
                                <input formControlName="street" id="street" type="text" pInputText />
                            </div>
                            <div class="field col-4">
                                <label for="street">Apartment</label><br>
                                <input formControlName="apartment" id="apartment" type="text" pInputText />
                            </div>
                            <div class="field col-4">
                                <label for="street">Zip Code</label><br>
                                <input formControlName="zip" id="zip" type="text" pInputText />
                            </div>
                            <div class="field col-4">
                                <label for="city">City</label><br>
                                <input formControlName="city" id="city" type="text" pInputText />
                            </div>
                            <div class="field col-4">
                                <label for="country">Country</label><br />
                                <p-dropdown
                                [options]="countries"
                                formControlName="country"
                                optionLabel="name"
                                optionValue="id"
                                [filter]="true"
                                filterBy="name"
                                [showClear]="true"
                                placeholder="Select a Country"
                                ></p-dropdown>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </p-card>
</div>
