<div class="admin-sidebar">
    <div class="logo">
        <img src="/assets/img/logo-sin-fondo.png" alt="" style="width:150px;height:66px; margin-top:10px; margin-left:10px;">
    </div>
    <div class="links" style="margin-top: 30px;">
        <ul>
            <li>
                <a routerLink="/dashboard" >
                    <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                    <lord-icon 
                        src="https://cdn.lordicon.com/gmzxduhd.json"
                        trigger="hover"
                        colors="primary:#fff,secondary:#e88c30"
                        style="width:70px;height:70px">
                    </lord-icon> Dashboard
                </a>
            </li>

            <li>
                <a routerLink="/products" >
                <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>  
                <lord-icon 
                    src="https://cdn.lordicon.com/fhtaantg.json"
                    trigger="hover"
                    colors="primary:#fff,secondary:#e88c30"
                    style="width:70px;height:70px">
                </lord-icon> Products
                </a>
                <!-- #121331 -->
            </li>

            <li>
                <a routerLink="/categories">
                <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                <lord-icon 
                    src="https://cdn.lordicon.com/gqdnbnwt.json"
                    trigger="hover"
                    colors="primary:#fff,secondary:#e88c30"
                    style="width:70px;height:70px">
                </lord-icon> Categories
                </a>
            </li>

            <li>
                <a routerLink="/orders">
                <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                <lord-icon 
                    src="https://cdn.lordicon.com/slkvcfos.json"
                    trigger="hover"
                    colors="primary:#fff,secondary:#e88c30"
                    style="width:70px;height:70px">
                </lord-icon> Orders
                </a>
            </li>

            <li>
                <a routerLink="/users">
                    <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                    <lord-icon 
                        src="https://cdn.lordicon.com/dxjqoygy.json"
                        trigger="hover"
                        colors="primary:#fff,secondary:#e88c30"
                        style="width:70px;height:70px">
                    </lord-icon> Users
                </a>
            </li>

            <li>
                <a class="logout">
                <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                <lord-icon 
                    src="https://cdn.lordicon.com/moscwhoj.json"
                    trigger="hover"
                    colors="primary:#fff,secondary:#e88c30"
                    style="width:70px;height:70px">
                </lord-icon> Logout
                </a>
            </li>
        </ul>  
    </div>
</div>

