<div class="admin-sidebar">
    <div class="logo">
        <img src="/assets/img/logo-completo.png" alt="" style="width:95px;height:70px">
    </div>
    <div class="links">
        <ul>
            <li>
                <a>
                    <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                    <lord-icon 
                    src="https://cdn.lordicon.com/nobciafz.json" 
                    trigger="hover" 
                    colors="primary:#121331,secondary:#e88c30" 
                    style="width:80px;height:80px">
                    </lord-icon> Dashboard
                </a>
            </li>

            <li>
                <a>
                    <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                    <lord-icon 
                    src="https://cdn.lordicon.com/nobciafz.json" 
                    trigger="hover" 
                    colors="primary:#121331,secondary:#e88c30" 
                    style="width:80px;height:80px">
                    </lord-icon> Dashboard
                </a>
            </li>

            <li>
                <a>
                    <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                    <lord-icon 
                    src="https://cdn.lordicon.com/nobciafz.json" 
                    trigger="hover" 
                    colors="primary:#121331,secondary:#e88c30" 
                    style="width:80px;height:80px">
                    </lord-icon> Dashboard
                </a>
            </li>

            <li>
                <a>
                    <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                    <lord-icon 
                    src="https://cdn.lordicon.com/nobciafz.json" 
                    trigger="hover" 
                    colors="primary:#121331,secondary:#e88c30" 
                    style="width:80px;height:80px">
                    </lord-icon> Dashboard
                </a>
            </li>
        </ul>  
    </div>
</div>

